<br />
<div style="margin-top: 20px;">
  <div>
    <label>Username</label>
    <input type="text" [(ngModel)]="username" />
  </div>
  <div style="margin-top: 20px;">
    <label>Password</label>
    <input type="password" [(ngModel)]="password" />
  </div>
  <h4>Username {{ username }}</h4>
  <h4>Passowrd {{ password }}</h4>
</div>
